h1 {
	color: #20B2AA;
	font-size: 24px;
	line-height: 30px;
}

body {
	font-family: Arial; 
	font-size:14px;
	line-height:22px;
	color: #505;

	background: #48D1CC;
}
table {
	background: #fff;
	border-radius: 5px;
}

input {
	border: 1px solid #008080;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
}

button {
	background: #20B2AA;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
}

a {
	color: #008B8B;
	text-decoration: none;
}